server {

    server_name {{ project_url }}; 
    listen      80;
    charset     utf-8;

    access_log {{ log_dir }}/nginx-access.log;
    error_log {{ log_dir }}/nginx-errors.log;

    keepalive_timeout 0;

    client_max_body_size 5m;
    client_body_buffer_size 100k;
    
    {% if static == true %}
    location /media  {
        alias {{ project_dir }}/media;  
    }

    location /static {
        alias {{ project_dir }}/static; 

    }
    {% endif %}

    location / {
        proxy_pass http://127.0.0.1:{{ port }};
    }
}

